Repository AlexisMtr/Athena, changes with the labels that .github/labeler.yml gives for each.
All labels: helm-chart, azure-terraform, azure-arm, source, docs, ci-workflow, CODEOWNERS

styel(athena): reduce tech debt
  src/Dtos/DeviceConfigurationDto.cs
  src/Models/Alarm.cs
  src/Models/Telemetry.cs
  src/Repositories/SQL/DeviceConfigurationRepository.cs
  src/Repositories/SQL/TelemetryRepository.cs
  src/Services/DeviceConfigurationService.cs
  src/Services/ProcessDataService.cs
Labels: source

style(athena): reduce tech debt (#12)
  src/Dtos/DeviceConfigurationDto.cs
  src/Models/Alarm.cs
  src/Models/Telemetry.cs
  src/Repositories/SQL/DeviceConfigurationRepository.cs
  src/Repositories/SQL/TelemetryRepository.cs
  src/Services/DeviceConfigurationService.cs
  src/Services/ProcessDataService.cs
Labels: source

chore(workflow): fix athena git tag step
  .github/workflows/athena.yaml
Labels: ci-workflow

style(athena): remove unused comment
  src/Startup.cs
Labels: source

style(athena): remove unused comment
  src/Startup.cs
Labels: source

chore(workflow): fix CI
  .github/workflows/athena-docker.yaml
  .github/workflows/athena.yaml
Labels: ci-workflow

chore(athena): add maintainer on docker
  src/Dockerfile
Labels: source

chore(athena): add maintainer on docker
  src/Dockerfile
Labels: source

chore: bump Athena version to 0.1.0 [skip-versionning]
  src/Athena.csproj
Labels: source

ci(workflows): rework workflow
  .github/workflows/athena-docker.yaml
  .github/workflows/athena.yaml
  .github/workflows/helm-athena.yaml
  .github/workflows/helm-dispatch.yaml
  .github/workflows/helm.yaml
Labels: ci-workflow

ci(workflows): rework workflow
  .github/workflows/athena-docker.yaml
  .github/workflows/athena.yaml
  .github/workflows/helm-athena.yaml
  .github/workflows/helm-dispatch.yaml
  .github/workflows/helm.yaml
Labels: ci-workflow

chore: add gitignore
  .gitignore
Labels: none

.github/labeler.yml:

helm-chart:
- deploy/helm/**/*
azure-terraform:
- deploy/infra-as-code/azure-tf/**/*
azure-arm:
- deploy/infra-as-code/azure-arm/**/*
source:
- src/**/*
docs:
- src/docs/**/*
ci-workflow:
- '.github/workflows/**/*'
CODEOWNERS:
- '.github/CODEOWNERS'
